/* General Styles */
textarea {
    resize: vertical;
    border-color: #ccc;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    color: #333;
}
input {
    border-radius: 0px;
    padding: 5px 10px;
    font-size: 12px;
    color: #333;
}
p {
    color: #333;
    line-height: 1.3em;
    margin-bottom: 1.5em;
}
label {
    cursor: pointer;
}

/* Button Styles */
.btn {
    padding: 5px 10px;
    width: 180px;
    border-radius: 4px;
    background-color: #eee;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    opacity: .8;
}
.btn.submit,
.btn.print,
.btn.getXML,
.btn.add-movie {
    background: #1989db;
    border-color: #1989db;
    color: #fff;
}
.btn.add-movie {
    margin-top: 10px;
}
.btn.remove-movie {
    width: 100px;
    background: #ff6464;
    border-color: #ff6464;
    color: #fff;
}

.container {
    max-width: 700px;
    margin: 0 auto 100px;
}

/* Date settings */
.date-title {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}
.date-controls {
    display: flex;
    margin: 20px 0;
}
.date-controls div {
    flex: 0 0 50%;
}

.xml-link-container {
    text-align: right;
}
.getXML {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.view-source-url {
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.step-title {
    position: absolute;
    margin-left: -100px;
    font-size: 18px;
    font-weight: bold;
}
.step-title.last {
    margin-top: 95px;
}

.input-controls {
    display: flex;
    margin: 15px 0 30px 0;
}
.input-controls div {
    flex: 0 0 50%;
}
.input-submit {
    text-align: right;
}


.movie-settings-container {
    margin-top: 50px;
}
.movie-settings-container .step-title {
    margin-top: 5px;
}
.movie-description {
    margin-bottom: 20px;
}
.movie-item {
    margin-bottom: 10px;
}
.movie-timeslot {
    width: 80%;
    margin-right: 10px;
    box-sizing: border-box;
}


.activities-header {
    margin: 80px 0 50px;
    border-bottom: 1px solid #ddd;
}

.activity-items {
}
.activity-item {
    text-align: left;
    font-size: 14px;
    margin: 0 0 20px;
    break-inside: avoid;
}
.current-date {
    text-align: left;
    margin-bottom: 30px
}
.current-date h1 {
    margin-top: 0;
    font-size: 28px;
}
.title {
    font-size: 18px;
    margin: 0 0 8px;
}
.metadata {
    display: flex;
    margin: 0 0 8px;
}
.metadata div {
    flex: 0 0 50%;
}
.metadata div.location {
    font-weight: bold;
}
.metadata div.time {
    text-align: right
}
.description * {
    color: #333;
    line-height: 1.1;
}
.description p {
    margin-bottom: 5px;
}
.description li {
    margin-bottom: 5px;
}
.print-page {
    margin-top: 60px;
    border-top: 1px solid #ddd;
    padding: 30px;
    text-align: center;
}
.activity-items {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-gap: 2cm;
}
.activity-item {
    break-inside: avoid;
}

@media print {
    .input-container,
    .activities-header,
    .print-page,
    .movie-settings-container {
        display: none;
    }
    .container {
        width: 100%;
        margin: auto;
    }
    .activity-item {
        font-size: 9px;
        page-break-inside: avoid;
    }
    .current-date h1 {
        margin-top: 0;
        font-size: 18px;
    }
    .title {
        font-size: 12px;
        margin: 0 0 5px;
    }
    .metadata {
        margin: 0 0 5px;
    }
}
@page {
    margin: 4cm 2.25cm 2.25cm;
}
/*
@page :first {
    margin: 5cm 8cm 1.5cm 1.5cm;
}
*/
